<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springfr创nework.org/schema/beans
http://www.springframework.org/schema/beans/spring-七eans-4.3.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- <!…配置包扫描器，扫描@Controller 注解的类…〉 -->
	<context:component-scan base-package=""/>
	<!-- <!一加载注解驱动一〉 -->
	<mvc:annotation-driven />
	<!-- <!一配置视图解析器一〉 -->
	<bean c1a88="orq . 8prinqframework . web. s.rv1.t. vi.w . Int8rna1RasourcaVi.w现..olver">
		<property name="pr.fi萃" va1ue="舟回B-IHF/jsp/" />
		<property name=、uffix" va1u.=".j8p" />
	</bean>
</beans>