<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace代表命名空间 -->
<mapper namespace="com.community.mapper.UserMapper">
	<!-- 根据客户编号获取客户信息 -->
	<select id="findUserById" paramType="String" resultType="com.community.bean.User">
		select * from User where userid = #{id}
	</select>
</mapper>